#swiperDiv {
  height: 75vh;
  #swiper {
    .swiperSlide {
      > div {
        background: #a02d8a88;
        position: relative;
        height: 75vh;
        .imgDev {
          position: absolute;
          top: 0;
          left: 50%;
          z-index: 0;
          translate: -50% 0;
          width: 70vw;
          height: 100%;
          max-width: 1000px;
          min-width: 500px;
          background-size: cover;
          background-position: 50% 5%;
        }
        > div {
          position: absolute;
          top: 53%;
          left: 15vw;
          width: 70vw;
          z-index: 5;
          p {
            font-size: 0.9rem;
            color: #fff;
          }
          h3 {
            font-size: 3rem;
            margin: 15px 0;
            text-shadow: 1px 2px 1px #a02d8a;
            font-weight: 500;
            color: #fff;
          }
          button {
            margin-top: 8px;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.7rem 3.8rem;
            color: #fff;
            @media (max-width:776px) {
                width: 100%;
            }
          }
        }
      }
    }
  }
}
