#ad {
  height: 170px;
  background: #00a9dd;
  margin: 1.5rem auto 1rem;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1400px) {
    height: 140px;
  }
  @media (max-width: 1200px) {
    height: 120px;
  }
  @media (max-width: 768px) {
    height: 70px;
  }
  @media (max-width: 621px) {
    height: 250px;
  }

  p {
    font-size: 2rem;
  }
}
